.background{
    background-image: url("https://img.freepik.com/free-photo/maple-leaf-border-background-orange-watercolor-autumn-season_53876-128735.jpg");
    width:100vw;
    height:100vw;
    background-size: 100%;
   }
.shadow{
    border: 10px rgba(0, 0, 0, .75);
}
.image{
    width:200px;
    height:200px;
    margin-top:50px;
    border-radius:100%;
}
.center{
    text-align :center;
}
