.backgroundimage{
    background-image:url("https://i.pinimg.com/originals/3a/f8/23/3af823a5504277e4750069954763cd43.jpg");
    height: 100vw;
    width: 100vw;
}
.image{
    height: 200px;
    width: 200px;
    border-radius:100%;
    margin-top:5%;
}
.center{
    text-align:center;
}
.topnav {
    overflow: hidden;
    background-color: rgb(216, 40, 9);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav{
    background-color: #eb691ed8;
    color: honeydew;
  }
  .shadow{
    margin:auto;
    border: 8px solid rgba(0,0,0,0.2);
    width:100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100%;
}
.w3{
    margin: auto;
    
}



